.menu a:link, a:active, a:visited{
	color:#FFF;
	text-decoration:none;
}
.menu a:hover{
	text-decoration:none;
	color:#666;
	text-shadow: 0 0 10px #740103;
}

.menu .current a {
	border-bottom:#740103 solid 2px;
}

ul.menu {
list-style-type:none;
position:relative;
display:block;
height:50px;
font-family: 'Nova Square', cursive;
font-size:25;
margin-top:15px;
padding:0;
}

ul.menu li {
float:right;
margin:0;
padding:0;
}

ul.menu li a {
color:#fff;
text-decoration:none;
height:35px;
margin-top:10px;
padding-left: 10px;
padding-right:10px;
text-align:center;
text-shadow: -1px -1px 0 #666;
}

ul.menu li a:hover,.current {
color:#fff;
text-decoration:none;

}

ul.menu .current a {
color:#fff;
}